@media screen and (max-width: 1024px) {

    .nav__container .btn{
        display: none;
    }
    nav #open-menu-btn{
        display: block;
        position: absolute;
        right: 10%;
        font-size: 2rem;
        font-weight: 500;
        color: var(--color-dark);
        background: transparent;
    }
    nav #close-menu-btn{
        display: none;
        position: absolute;
        right: 10%;
        font-size: 2rem;
        font-weight: 500;
        color: var(--color-black);
        background: transparent;
        z-index: 40;
    }
    .nav__container ul{
        display: none;
        width: 100%;
        height: 40%;
        position: absolute;
        color: white;
        flex-direction: column;
        right: 0;
        top: 0;
        z-index: 30;
    }

    
    .header #title span{
        font-size: 3rem;
    }
    .header #br{
        display: block;
    }
    .header #wave{
        display: none;
    }
    .about__container{
        grid-template-columns: 1fr;
        width: 60%;
        margin-top: 0;
        height: auto;
    }
    .about .about__container .about__left{
        text-align: center;
    }    
    
    .products__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact__container{
        grid-template-columns: 1fr;
        width: 60%;
    }
    .contact__left{
        text-align: center;
    }
    .contact__container iframe{
        margin-left: 0;
    }
    .product__tags{
        grid-template-columns: repeat(3, 1fr);
    }


    
    .footer__container ul{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {

    .about__container{
        width: 90%;
        gap: 0;
    }
    .about__left h1{display: none}
    .products__container{
        grid-template-columns: 1fr;
    }
    .contact__container{
        width: 90%;
    }
}