@font-face {
    font-family: UniHeavy;
    src: url(../UniSans/Non-commercial/WEB/UniSans-Trial-Heavy.woff)
}

@font-face {
    font-family: UniBold;
    src: url(../UniSans/Non-commercial/WEB/UniSans-Trial-Bold.woff);
}

@font-face {
    font-family: UniRegular;
    src: url(../UniSans/Non-commercial/WEB/UniSans-Trial-Book.woff2);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: #E1EBF5;
    --color-dark: #242629;
    --color-black: #000;
    --color-bg: #263252;
    --color-bg-variant: #1f2461;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
    --box-shadow: 0 1rem 4rem #8F9AA5;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: var(--color-white);
}
  
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 0.9rem;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
    color: var(--color-dark);
    background: var(--color-white);
    overflow-x: hidden;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h1,
section h2{
    text-align: center;
    margin-bottom: 4rem;
    font-family: UniHeavy;
}

h1, h2, h3, h4, h5{
    line-height: 1.2;
    font-family: UniBold;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

p{
    font-family: UniRegular;
}

span{
    color: var(--color-primary)
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: black;
    padding: 0.7rem 1.2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 1rem;
}

.btn:hover{
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary); 
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
}

/* ============ NAV BAR ============ */


.nav__container{
    width: 100%;
    display: grid;
    place-items: center;
    height: 5rem;
    text-align: center;
    z-index: 50;
}

nav button{
    display: none;
}

.nav__container .logo{
    position: absolute;
    left: 10%;
    font-weight: 500;
    z-index: 30;
    top: 1.45rem;
    color: var(--color-primary)
}

.nav__container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav__container ul li a{
    font-weight: 500;
    color: var(--color-dark)
} 

.nav__container .btn{
    position: absolute;
    right: 10%;
}

/* .logo-scroll{
    color: var(--color-primary)
}
.a-scroll{
    color: var(--color-dark);
}
.menu-before{
    color: var(--color-white);
}
.menu-scroll{
    color: var(--color-dark);
} */

/* ============ HEADER ============ */

.header{
    height: 85vh;
    display: grid;
    text-align: center;
    place-items: center;
    z-index: 10;
    background-image: linear-gradient(to right, #6c63ff, #4b73ff, #2980fc, #058af5, #1293eb);
}

.header #title span{
    font-size: 4.5rem;
    color: var(--color-white)
} 
.header #wave{
    left: 0;
    bottom: 0;
    position: absolute;
} 

.header br{
    display: none;
}

/* ============ ABOUT US ============ */

.about{
    position: relative;
    overflow: hidden;
    height: 90vh;
    margin-bottom: 5rem;
}

.about__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 85%;
}

.about__left h1{
    text-align: start;
}

.about__left p{
    margin: 2rem 0 2.4rem;
}

.about__right img{
    margin: 0 auto;
    width: 80%;
    z-index: 5;
}

/* ============ PRODUCTS ============ */

.products__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.product{
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    background: var(--color-primary);
    transition: var(--transition);
}

.product:hover{
    transform: scale(1.05);
    box-shadow: var(--box-shadow);
}

.product h3{
    color: var(--color-white);
    margin-bottom: 1rem;
}

.product p{
    color: var(--color-light);
    margin-bottom: 1rem;
}

.product__tags{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
}

.tag{
    background: var(--color-white);
    height: 2rem;
    display: grid;
    place-items: center;
    font-size: 1rem;
    border-radius: 0.9rem;
    color: var(--color-primary);
    font-weight: 500;
}


/* ============ CONTACT ============ */

.contact{
    position: relative;
    overflow: hidden;
    height: 90vh;
    margin-bottom: 5rem;
}

.contact__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 85%;
}

.contact__left p{
    margin: 2rem 0 2.4rem;
}

.contact__left h1{
    text-align: start;
}

.contact__right{
    display: grid;
    place-items: center;
}

.contact iframe{
    margin-left: 2rem;
}

/* ============ FOOTER ============ */

footer{
    background: var(--color-primary);
    padding: 3rem 5rem;
    text-align: center;
}

.footer__container{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
}

.footer__container ul{
    display: flex;
    gap: 1.5rem;
}

.footer__container > div{
    color: var(--color-light);
    font-size: 0.9rem;
}

footer a{
    transition: all 400ms ease;
}

footer a:hover{
    text-decoration: underline;
} 